@(message: String)

@main("Play!ing with DataTables") {

  <script type="text/javascript">
  /* Table initialisation */
  $(document).ready(function() {
    $('#contacts_table').dataTable( {
      "bProcessing": true,
      "aaSorting": [[ 0, "asc" ]],
      "bServerSide": true,
      "bJQueryUI": true,
      "sPaginationType": "full_numbers",
      "sAjaxSource": "@routes.Application.list()"
    } );
  } );
  </script>

  <h2>Play!ing with DataTables</h2>

  <table id="contacts_table" class='display'>
    <thead>
        <tr>
            <th>Name</th>
            <th>Title</th>
            <th>E-mail</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Row 1 Data 1</td>
            <td>Row 1 Data 2</td>
            <td>etc</td>
        </tr>
    </tbody>
</table>
}