@(message: String)

@main("Play!ing with DataTables") {

<script type="text/javascript">
  $(document).ready(function() {
    $('#contacts').dataTable( {
        "processing": true,
        "serverSide": true,
        "ajax": "@routes.Application.list()"
    } );
} );
</script>

  <h2>Play!ing with DataTables</h2>

  <table id="contacts" class='display'>
    <thead>
        <tr>
            <th>Name</th>
            <th>Title</th>
            <th>E-mail</th>
        </tr>
    </thead>
</table>
}